@media only screen and (max-width: 625px) {

    h1 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: .75rem;
        font-weight: 400;
    }

    .hero--img-2 {
        max-width: 100%;
    }

    .hero--legend {
        margin-top: 1rem;
        text-align: center;
    }

    .section-card { 
        justify-content: center;
        padding: 0;
    }

    .card {
        &-template {
            margin: 1rem .5rem;
        }
    }

}

@media only screen and (max-width: 400px) {
    .section-hero {
        justify-content: center;
    }

    .card-template {
        width: 140px;
        justify-self: center;
    }

    .card-img {
        height: 140px;
    }
}
